* {
  transition: all .5s;
  user-select: none;
}

@font-face {
  font-family: "Slideyouran-Regular";
  src: url("../assets/Slideyouran-Regular.ttf");
}

@font-face {
  font-family: "newChinaFont";
  src: url("../assets/newChinaFont.ttf");
}

#app {
  width: 80%;
  margin: 50px auto;
}

.totoList-title {
  text-align: center;
  font-size: 50px;
  color: crimson;
  margin-bottom: 10px;
}

.todoList-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}

.chooseAll {
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  margin: 0 5px 0 0;
  appearance: none;
  position: relative;
  cursor: pointer;
  border-radius: 30%;
}

.chooseAll:hover {
  background-color: rgb(218, 215, 250);
}

.chooseAll::after {
  content: '✖';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.chooseAll:checked::after {
  content: '✔';
}

.createTodo {
  flex-grow: 1;
  font-size: 25px;
  border: none;
  outline: none;
  font-style: italic;
  padding-left: 5px;
}

.todoListItem {
  display: flex;
  border-bottom: 2px solid #cccccc96;
}

.createTodo-container {
  padding: 8px 5px;
}

.list-container {
  padding: 0;
  margin: 0;
}

.list-container li {
  align-items: center;
  padding: 10px 5px 10px 0;
  font-size: 25px;
}

.list-container li:hover>.delete {
  opacity: 1;
}

.list-container li span,
.edit {
  flex-grow: 1;
  text-align: left;
  padding: 5px 0 10px 10px;
  font-size: 28px;
  cursor: pointer;
  font-family: "Slideyouran-Regular";
  border: none;
}

.edit {
  margin-left: 50px;
  outline: 1px solid red;
}

.toggle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin: 0 10px;
  appearance: none;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.toggle:checked {
  border: 1px solid #14dc17;
}

.toggle:checked+span {
  text-decoration: line-through;
  color: #ccc;
}

.toggle:checked::after {
  color: #14dc17;
}

.toggle::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}

.delete {
  flex-shrink: 0;
  cursor: pointer;
  font-size: 35px;
  border: none;
  background-color: transparent;
  color: purple;
  opacity: 0;
}

.delete:hover {
  color: crimson;
}

/* 页脚 */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  font-family: "newChinaFont";
  position: relative;
  border-bottom: 1px solid #cccccc96;
}

.footer::after,
.footer::before {
  content: "";
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}

.footer::after {
  bottom: -7px;
  width: 98.5%;
  height: 5px;
}

.footer::before {
  bottom: -14px;
  width: 96.5%;
  height: 5px;
}

.startList {
  white-space: nowrap;
}

.startList a:nth-child(2) {
  margin: 0 20px;
}

.startList a {
  text-decoration: none;
  color: black;
  padding: 4px 5px 2px 5px;
  border-radius: 5px;
}

.active {
  outline: 1px solid red;
}

.cleanCompleted {
  cursor: pointer;
}

.cleanCompleted:hover {
  color: crimson;
}